/* hero start */
#hero{
    background-image: url(/assets/img/hero\ bg.png);
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-size: cover;
    z-index: 0;
}

.hero-overlay{
   background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}

.nav-link{
    color: var(--white);
}

img{
    max-width: 100%;
}

/* hero end */

/* services start */

.single-service{
    position: relative;
    z-index: 2;
    padding: 20px;
    margin: 140px 10px;
}

.sv-card-left, .sv-card-right{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    top: -125px;
    width: 500px;
    height: 432px;
    z-index: -2;
}

.sv-card-left{
    background-image: url(/assets/img/Rectangle5119.png);
    left: -106px;
}
#center-sv{
    display: flex;
    align-items: center;
}

.center-sv{
    background-image: url(/assets/img/shape-151.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    background-position: center;
}

.right-sv {
    padding-bottom:8px;
    padding-left: 73px;
  }

.sv-card-right{
    background-image: url(/assets/img/Group1000005663.png);
    right: -106px;
}

.all-sv-btn{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: -40px;
    padding: 50px 0px;
}

.sv-btn{
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
/* parking places start */

.parking-places{
    background-color:var(--primary-light);
    padding: 50px 0px;
}
.section-title{
    text-align: center;
    padding-bottom: 20px;
    font-family: var(--p-bold1);
    font-size: var(--h2-size);
    font-weight: bold;
}
.single-card {
    margin-bottom: 20px;
    border: none !important;
  }

  .card-title{
    font-family: var(--p-bold1);
    font-weight: bold;
    font-size: var(--h6-size);
  }

.more-places-btn {
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
  }

.prices, .single-items {
    gap: 5px;
    align-items: baseline;
  }

  /*Parking Places end */

  /* Parking Points start */

.Parking-Points{
    padding: 50px 0px;
    background-color: var(--white);
}
/* #left-points{
    max-width: 100%;
    align-items: center;
    height: 100%;

} */
.left-points{
    background-image: url(/assets/img/Group1000005683.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-right: 80px;
}
#right-points{
    display: flex;
    align-items: center;
}
.section-inner-title{
    text-align: start;
    padding-bottom: 20px;
    font-family: var(--p-bold1);
    font-size: var(--h2-size);
    font-weight: bold;
}
.right-point-list ul {
    padding: 0px !important;
}
.right-point-list ul li {
     background: url(../img/check-mark-circle.svg) no-repeat;
    background-position: left center;        background-size: contain;
    list-style: none;        
    padding-left: 30px;
    line-height: 1.6;
    margin-top: 10px;
}
.get-contact{
    display: flex;
    justify-content: start;
}

/*reviews start*/

.reviews{
    background-color: var(--secondary);
    border-radius: 4px 80px;
    padding: 35px 50px;
    margin-bottom: 50px;
}
.single-reviews{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.review-content h3{
    font-family: var(--p-bold1);
    font-weight: bold;
    font-size: var(--h3-size);
}
.review-content{
    color: var(--white);
}
.single-reviews img{
    width: 30%;
}

/* Easy steps  start */
.easy-steps{
    background-color: var(--primary-light);
    padding: 50px 0px 10px 0px;
}
.inner-easy-steps{
    display: flex;
    align-items:center;
}
.single-easy-steps{
    text-align: center;
    padding: 10px 25px;
}

.steps-title{
    font-family: var(--p-bold1);
    font-weight: bold;
    font-size: var(--h6-size);
  }
  .all-parking{
    display: flex;
    justify-content: center;
  }
  .steps-content{
    color: #787B84;
  }
  .parking-button{
	background-color: var(--white);
	display: flex;
	gap: 132px;
	align-items: center;
	padding: 5px 15px;
	border-radius: 29px;
}
.parking-button-content{
    margin-bottom: 0px;
}
  .pk-btn{
    padding: 5px 15px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }

/* Easy steps  end */

/* FAQ Start  */

.faq{
    padding: 50px 0px;
    background-color: var(--white);
}
.faq-overlaw-image{
    background-image: url(/assets/img/tow-car.png);
}
.left-faq{
    padding: 20px;
}

.faq-accordions {
    padding: 1px 0px;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(52, 51, 51, 0.3); 
}
.accordion-item {
	margin: 15px;
	border-radius: 8px !important;
    background-color: var(--primary);
    color: var(--white);
}
.accordion-button {
	color: var(--secondary); 
	background-color: var(--primary-light);
    font-weight: bold;
    border-radius: 8px;
}
.accordion-button:not(.collapsed) {
    font-weight: bold;
	color: var(--white);
	background-color: var(--primary);
	box-shadow: none;
    border-radius: 8px;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
    font-weight: bold;
    font-size: 2em;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    font-weight: bold;
    font-size: 2em;
  }

  .accordion-button:focus {
	z-index: 3;
	border:none;
	outline: 0;
	box-shadow:none;
}
  
#right-faq{
    display: flex;
    align-items: center;
    padding: 20px;
}
.right-faq-list ul {
    padding: 0px !important;
}
.right-faq-list ul li {
     background: url(../img/check-mark-circle.svg) no-repeat;
    background-position: left center;        background-size: contain;
    list-style: none;        
    padding-left: 30px;
    line-height: 1.6;
    margin-top: 10px;
}
.more-details{
    display: flex;
    justify-content: start;
}